{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="logo-font mb-4 text-white delivery_banner text-center mt-0">Free Delivery On Orders Above
                €{{ free_delivery_threshold }}
            </h4>
            <h2 class="logo-font mb-4 text-info">Thank You <strong>{{ order.full_name }}</strong> for your order.</h2>
            <hr>
            <p class="text-black">Your order details are below.</p>
            <p class="text-black">A confirmation email will be sent to {{order.email}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="order-confirmation-wrapper p-2 border">
                <!------------------------------------------------Order Info-->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Order Number:</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">{{ order.order_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Order Date </p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>
                <hr>
                <!------------------------------------------------Order Details-->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Order Details:</small>
                    </div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="small mb-0 text-info font-weight-bold">
                            {{ item.product.name }}{% if item.product_size %} - Size {{ item.product.size|upper }}
                            {% endif %}</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="small mb-0">Qty: {{ item.quantity }}| Price: €{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <hr>
                <!------------------------------------------------Delivering to-->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Delivering To:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Full Name</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Email</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">{{ order.email }}</p>
                    </div>
                </div>

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Postal Code</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Street Address 1</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Street Address 2</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Town Or City</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">County</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Country</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Phone Number</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>
                <hr>
                <!------------------------------------------------Billing Info-->
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Billing Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Order Total</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">€{{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Delivery Cost</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">€{{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-info font-weight-bold">Grand Total</p>
                    </div>

                    <div class="col-12 col-md-8 text-md-right text-secondary">
                        <p class="mb-0">€{{ order.grand_total }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn btn-info rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-user"></i>
                </span>
                <span class="text-uppercase">Back to Profile</span>
            </a>
            {% else %}
            <a href="{% url 'products' %}?category=accessories,home_gym" class="btn btn-info rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-gifts"></i>
                </span>
                <span class="text-uppercase">Check out our latest Accessories!</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}