{% extends "base.html" %}
{% load static %}

{% block extra_title %} Blog | {{ post.title }}{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay">
</div>
<div class="container w-50">

    <div class="row">
        <div class="col">
            <h1 class="logo-font mb-4 text-info mt-4 text-center">Cúl Blog</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>
                <h2 class="text-info">{{ post.title }}<strong class="text-secondary"> |
                    </strong><small>{{ post.author }}</small></h2>
            </span>
            <hr>
            <p class="text-secondary">{{ post.body }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex">
            <a href="{% url 'blog' %}" class="btn btn-info ml-auto p-2" role="button">Back</a>
        </div>
    </div>
</div>
{% endblock %}