{% extends "base.html" %}
{% load static %}

{% block extra_title %} Blog{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay">
</div>
<div class="container">

    <div class="row">
        <div class="col">
            <h1 class="logo-font mb-4 text-info text-center">Cúl Blog</h1>
            <hr>
        </div>
    </div>
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col d-flex align-content-center justify-content-center">
            <small>
                <a href="{% url 'add_blog' %}" class="btn btn-success">Add Post</a>
            </small>
        </div>
    </div>
    <hr>
    {% else %}
    <div class="row">
        <div class="col d-flex align-content-center justify-content-center">
            <small>
                <h3 class="text-secondary text-center">The latest GAA Gossip!</h3>
            </small>
        </div>
    </div>
    <hr>
    {% endif %}

    <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-8 align-content-center">
            {% for post in object_list %}
            <ul>
                <li>
                    <a href="{% url 'blog_detail' post.pk %}">
                        {% if post.image %}
                        <div class="blog-image-container d-flex justify-content-center">
                            <img class="border-2 card-img-top img-fluid w-75 h-50" src="{{ post.image.url }}"
                                alt="{{ post.name }}">
                        </div>
                        {% endif %}
                        <h2 class="text-info text-center">{{ post.title }}<br><small class="text-secondary">Author:
                                {{ post.author }}</small>
                        </h2>
                        <p class="text-secondary text-center">{{ post.post_on }}</p>
                    </a>
                </li>
            </ul>
            <hr>
            {% endfor %}
        </div>
        <div class="col"></div>
    </div>
    {% endblock %}